<%= form_for [@question, @answer] do |f| %>

  <div class="field">
    <%= f.label :answer_description %>
    <%= f.text_field :answer_description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
